* {
/* CSS HEX */
--lion: #B7945Cff;
--air-force-blue: #608796ff;
--bistre: #2C2412ff;
--delft-blue: #182A5Eff;
--drab-dark-brown: #523F1Eff;
--khaki: #BFB79Eff;
--field-drab: #605A1Dff;
--lion-2: #A38C57ff;

/* CSS HEX */
--coyote: #805B37ff;
--columbia-blue: #B9D5ECff;
--myrtle-green: #3C756Eff;
--cal-poly-green: #3A4C36ff;
--midnight-green: #014659ff
}