* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --colorBackgroundMain: #2c2212;
  --greenBold: #3a4c36ff;
  --logoBlue: #182a5eff;
  --lightBlue: #608796ff;
  --khaki: #bfb79eff;
  --khakiDark: #a38c57ff;
  --field-drab: #605a1dff;
  --logoYellow: #f5edb5;
  --colorTextMain: #e2e2e2;
  --colorTextAccent: #30ffb6;
  --logoGold: #e5a512;
  --darkSkiesOrange: #d25a2751;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  font-size: 1rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--colorBackgroundMain);
}

p {
  color: var(--colorTextMain);
}

label {
  color: var(--colorTextMain);
}

li {
  color: var(--colorTextMain);
}

h1 {
  color: var(--colorTextMain);
}

.fa {
  color: var(--lightBlue);
}

.center-all {
  max-width: 64rem;
  margin: 0 auto;
}

.hero-content {
  text-align: center;
}

.navbar {
  background-color: var(--greenBold) !important;
}

.navbar-toggler {
  border-color: var(--logoYellow) !important;
}
.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(92%) sepia(61%) saturate(749%) hue-rotate(8deg) brightness(104%) contrast(101%);
}

.nav-bar {
  position: fixed;
  width: 100%;
  padding: 1em;
}

.nav-item {
  color: var(--colorTextAccent);
  text-decoration: none;
  display: inline-block;
}

.nav-link {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
}

.nav-link:active {
  opacity: 0.9;
  transition: opacity 0.15s ease-out;
}

.navbar-bandname {
  font-weight: bolder;
  font-family: Bookman, URW Bookman L, serif;
}

.logo-gold {
  color: var(--logoGold) !important;
}

.logo-blue {
  color: var(--lightBlue) !important;
}

.logo-yellow {
  color: var(--logoYellow) !important;
}

.logo-khaki {
  color: var(--khaki) !important;
}

.link-blue {
  background-color: var(--lightBlue) !important;
  border: none;
}

.parallax {
  background-image: url("../images/ShinerSponser1.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-footer {
  background-image: url("../images/dewarsAndBoot.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

td {
  line-height: 30px;
  min-height: 30px;
  height: 30px;
}

/* iframe{
  margin: 0 auto;
  display: block;
} */

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .parallax {
    background-attachment: inherit;
  }

  .parallax-footer {
    background-attachment: inherit;
  }
}
